@font-face {font-family:'BureauGrotesk';font-display:fallback;src:url("https://cdn.mytutor.co.uk/fonts/BureauGrotesk-600.woff2") format("woff2");font-weight:600;font-style:normal;}
@font-face {font-family:'FoundersGrotesk';font-display:fallback;src:url("https://cdn.mytutor.co.uk/fonts/FoundersGrotesk-400.woff2") format("woff2");font-weight:400;font-style:normal}

body {
    background: #F7F2ED;
    padding-top: 70px;
    font-family: "FoundersGrotesk", Roboto, Verdana, sans-serif;
    font-weight: 400;
    font-size: 18px;
  }

  h1, h2 {
    font-family: "BureauGrotesk","FoundersGrotesk",Roboto, Verdana, sans-serif;
    color: #242424;
    font-weight: 400;
  }

  .loading-text {
    font-family: "FoundersGrotesk", Roboto, Verdana, sans-serif;
  }

  h1 {
    font-size: 3.125rem;
    line-height: 1.2rem;
    padding: 40px 0 10px 0;
    margin-bottom: 0.5em;
  }

  /* Masthead */
  .navbar-mt {
    background: #F7F2ED;
  }

  .navbar-mt .navbar-nav a {
    text-decoration: none;
    color: #242424;
  }

  .navbar-mt .nav-item {
    font-size: 16px;
  }

  .navbar-mt .dropdown-menu {
    background: #fff;
  }
  .navbar-mt .dropdown-item a {
    display: flex;
    align-items:
  }

  .navbar-mt .dropdown-item a:hover {
    background-color: #f5f5f5;
  }

  .dropdown-item .option-text {
    display: inline-block;
  }
  .dropdown-item .option-text > * {
    display: block;
    clear: both;
    padding-left: 6px;
  }
  .dropdown-item .option-text .main-text {
    font-weight: 600;
    font-size: 14px;
  }
  .dropdown-item .option-text .sub-text {
    font-size: 12px;
    font-weight: 500;
  }

  .navbar-mt.navbar-expand-md .navbar-collapse {
    justify-content: center;
  }

  .navbar-mt .contact-number {
    font-weight: 600;
    display: none;
    padding-right: 1em;
  }

  @media (min-width: 1080px) {
    .navbar-mt .contact-number {
      display: inline-block;
    }
  }

  .navbar-mt .navbar-secondary {
    display: none;
  }

  @media (min-width: 940px) {
    .navbar-mt .navbar-secondary {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }



  /* Question Genetator Page */

  .gq-row {
    background: rgb(255,255,255);
    /* background: linear-gradient(167deg, rgba(255,255,255,1) 1%, rgb(231, 230, 227) 47%, rgb(221, 220, 216) 100%);
    box-shadow: 0 8px 16px 0 hsla(0, 0%, 0%, 0.5); */

  }

  .gq-row .gq-text {
    padding: 2rem;
  }
  .gq-row .gq-image {
    padding-right: 0;
  }

  .gq-row .gq-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .btn-primary {
      background: #03CCBB;
      border-radius: 4px;
      border: 2px solid #03CCBB;
      color: #232323;
      font-weight: 600;
      font-family: "FoundersGrotesk",sans-serif;
      margin: 10px;
  }


  .btn-primary:hover {
    color: #FFFFFF;
    background-color: #12B4A6;
    border: 2px solid #12B4A6;
  }

  .question-gen {
    border-top: 1px dashed #ccc;
    padding: 10px 0;
  }

  .gq-form .form-label {
    display: block;
    clear:both;
    font-weight: 600;
  }

  .gq-button {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .hidden {
    display: none;
  }

  .show {
    display: block;
  }
  .estion-container {
    width: calc(100% - 100px);
  }

  .ai-question {
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    background: transparent;
    border-bottom: 2px dashed #ccc;
  }

  .feedback-div, .hint-div {
    padding: 1rem 2.6rem;
  }

  #all-the-feedback {
    background: #fff;
  }

  #the-answer {
    height: 300px;
  }

  .ai-star-answer {
    border: 6px solid #03CCBB;
    border-radius: 6px;
    padding: 1rem;
    margin: 2rem;
    background: #fff;
  }

  .ai-question h1, .ai-question h2 {
    color: #545454;
  }

  .ai-question .lead {
    font-size: 22px;
    font-weight: 300;
    color: #242424;
    padding-left: 1em;
  }

  .user-answer {
    background: #fff;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

  }


  .user-answer textarea {
    border-bottom: 2px solid #242424;
    opacity: 0.9;
    width: 100%;
    max-width: 600px;
    font-size: 24px;
  }



  .user-answer-form, .user-answer-image {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
  }

  .user-answer-form {
    z-index: 10;
    padding: 2rem 2rem 0rem 2rem;
  }
  .user-answer-image {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .user-answer-image img {
    max-width: 100%;
    max-height: 400px;
    position: relative;
    object-fit: contain;
    right: -100px;
    display: none;
  }

  .user-answer-form button#submit {
    margin-left: 0;
  }

  #show-perfect {
    margin-left: 2.6rem;
  }

  .next-q-button-div {
    margin: 1rem 2rem;

  }

  .next-q-button-div .btn {
    margin: 6px 0;
    width: 100%;
  }

  @media (min-width: 1200px) {
    .next-q-button-div {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .next-q-button-div .btn {
      width: auto;
    }
  }


  .loading-container {
           background-color: rgba(244, 244, 244, 0.8);
           display: none;
           justify-content: center;
           align-items: center;
           height: 100vh;
           width: 100vw;
          position: fixed;
           top: 0;
           left: 0;
           z-index: 999;
       }

       .loader {
           display: inline-block;
           font-size: 30px;
           text-align: center;
       }

       .robot {
           display: inline-block;
           position: relative;
           animation: move 2s linear infinite;
       }

       .robot::before {
           content: "🤖";
       }

       @keyframes move {
           0%, 100% {
               transform: translateY(0);
           }
           50% {
               transform: translateY(-10px);
           }
       }

       .loading-text {
           display: block;
           margin-top: 15px;
       }

  @media (min-width: 998px) {
    .user-answer-image img {
        display: block;
    }
  }

  .speech-bubble {
    position: relative;
    background: #fff;
    border-radius: .4em;
    display: block;
    padding: 2rem 1rem;
    border: 5px solid #03CCBB;
  }

  /* .speech-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: #fff;
    border-left: 0;
    border-bottom: 0;
    margin-top: -10px;
    margin-left: -20px;
  } */

  .speech-bubble:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 12px solid transparent;
    border-right: 12px solid #03CCBB;
    border-top: 12px solid #03CCBB;
    border-bottom: 12px solid transparent;
    left: -24px;
    top: 30%;
  }

  .speech-bubble:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 9px solid transparent;
    border-right: 9px solid #fff;
    border-top: 9px solid #fff;
    border-bottom: 9px solid transparent;
    left: -13px;
    top: calc(30% + 4px);
  }

  .ai-question-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ai-question-image img {
    height: auto;
    width: auto;
    max-width: 98%;
    max-height: 140px;
  }
