{% extends 'includes/layout.html' %}

{% block body %}

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<main class="container ai-question-container">
  <div class="row ai-question">
    <h1>Question:</h1>
    {% for para in question %}
        <span class="lead">{{para}}</span>
    {% endfor %}

  </div>

<div class="user-answer">
  <div class="user-answer-form">
    <form class="" action="{{ url_for('submit_answer') }}" method="post">
      <div class="mb-3">
        <textarea name="answer" rows="8" cols="80">{{ answer }}</textarea>
      </div>
      <button type="submit" id="submit" class="btn btn-primary btn-lg {{submit_class}}">Submit Answer</button>
    </form>
  </div>
  <div class="user-answer-image">
    <img src="https://cdn.mytutor.co.uk/images/uploads/Prices-Hero-image-2021.png" alt="PHOTO: Student" />
  </div>

</div>

<div id="all-the-feedback" class="{{answers_class}}"
  <div class="row ai-feedback">
    <h2>Feedback</h2>
    {% for para in feedback %}
            <span>{{para}}</span>
        {% endfor %}
  </div>

  <br>

  <div class="user-controls">
    <button id="show-perfect" class="{{answers_class}} btn btn-primary btn-lg">Show Star Answer</button>
  </div>

  <br>

  <div id="perfect-answer" class="hidden ai-perfect-answer">
    <h2> &#x2B50; Star Answer &#x2B50;</h2>
      {% for para in perfect_answer %}
          <span>{{para}}</span>
      {% endfor %}
  </div>


</div>

<br>

<button id="same-again" class="btn btn-primary btn-lg">Give me another question like this!</button>
<button id="new-topic" class="btn btn-primary btn-lg">Give me a {{ subject }} {{ level }}  question on a different topic</button>
<button id="take-me-home" class="btn btn-primary btn-lg">Let me choose a different subject/level/topic </button>

<br><br>

</main>

<script>
  var showPerfectButton = document.getElementById('show-perfect');
  var perfectAnswerDiv = document.getElementById('perfect-answer');
  var sameAgain = document.getElementById('same-again');
  var newTopic = document.getElementById('new-topic');
  var takeMeHome = document.getElementById('take-me-home');

  console.log("Hello")
  showPerfectButton.addEventListener('click', function() {
    perfectAnswerDiv.classList.remove('hidden');
    perfectAnswerDiv.classList.add('show');
    showPerfectButton.classList.add('hidden');
  });

  sameAgain.addEventListener('click', function() {
    // write code here that would call a route on the backend called same again
  });


</script>

{% endblock %}
