{% extends 'includes/layout.html' %}

{% block body %}
<main class="container">
  <div class="row gq-row">
    <div class="col gq-text">
        <h1>Generate an exam question</h1>
        <p class="lead">
          Use the form below to choose the subject, level and topic of the question you want to generate.
          You can repeat this process to create as many new unique questions you want to test yourself with.
        </p>
    
        <form class="gq-form" action="{{ url_for('create_question') }}" method="post">
    
          <div class="mb-3">
            <label class="form-label" for="subject">Subject</label>
            <select class="form-select form-select-lg mb-3" name="subject" id="subject">
    
              <option value="Maths">Maths</option>
              <option value="Chemistry">Chemistry</option>
              <option value="Biology">Biology</option>
              <option value="English">English</option>
    
            </select>
          </div>
    
          <div class="mb-3">
            <label class="form-label" for="level">Level</label>
            <select class="form-select form-select-lg mb-3" name="level" id="level">
              <option value="GCSE">GCSE</option>
              <option value="A Level">A Level</option>
              <option value="KS3">KS3</option>
            </select>
          </div>
    
          <div class="mb-3">
            <label class="form-label" for="level">Exam board</label>
            <select class="form-select form-select-lg mb-3" name="level" id="level">
              <option value="any" selected>Any</option>
              <option value="aqa">AQA</option>
              <option value="edexel">EDEXCEL</option>
              <option value="cambridge">Cambridge National</option>
            </select>
          </div>
    
          <div class="mb-3">
            <label class="form-label" for="topic">Topic</label>
            <input type="text" class="form-control form-control-lg" name="topic" placeholder="eg. Earthquakes, pythagaros theorum, weasel mating habitss">
          </div>
          
          <div class="gq-button">
            <button type="submit" id="submit" class="btn btn-primary btn-lg">Generate a question</button>
          </div>
        </form>
    </div>
    <div class="col gq-image">
      <img src="{{ url_for('static', filename='images/bg2.png') }}">
    </div>
  </div>
  


  <div class="p-3 rounded">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="text-primary">{{prompt}}</h3>
        <p class="lead">{{ question }}</p>
      </div>
    </div>
  </div>
</main>
{% endblock %}
