{% extends 'includes/layout.html' %}

{% block body %}
<main class="container">
  <div class="row gq-row">
    <div class="col gq-text">
        <h1>Generate an exam question</h1>
        <p class="lead">
          Use the form below to choose the subject, level and topic of the question you want to generate.
          You can repeat this process to create as many new unique questions you want to test yourself with.
        </p>

        <form class="gq-form" action="{{ url_for('create_question') }}" method="post">

          <div class="mb-3">
            <label class="form-label" for="subject">Subject</label>
            <select class="form-select form-select-lg mb-3" name="subject" id="subject">

              <option value="Maths" {% if subject == 'Maths' %}selected{% endif %}>Maths</option>
              <option value="Chemistry" {% if subject == 'Chemistry' %}selected{% endif %}>Chemistry</option>
              <option value="English" {% if subject == 'English' %}selected{% endif %}>English</option>
              <option value="Biology" {% if subject == 'Biology' %}selected{% endif %}>Biology</option>
              <option value="Physics" {% if subject == 'Physics' %}selected{% endif %}>Physics</option>
              <option value="English Literature" {% if subject == 'English Literature' %}selected{% endif %}>English Literature</option>
              <option value="English Language" {% if subject == 'English Language' %}selected{% endif %}>English Language</option>
              <option value="Science" {% if subject == 'Science' %}selected{% endif %}>Science</option>
              <option value="Economics" {% if subject == 'Economics' %}selected{% endif %}>Economics</option>
              <option value="Psychology" {% if subject == 'Psychology' %}selected{% endif %}>Psychology</option>
              <option value="French" {% if subject == 'French' %}selected{% endif %}>French</option>
              <option value="Spanish" {% if subject == 'Spanish' %}selected{% endif %}>Spanish</option>
              <option value="Business Studies" {% if subject == 'Business Studies' %}selected{% endif %}>Business Studies</option>
              <option value="History" {% if subject == 'History' %}selected{% endif %}>History</option>
              <option value="Government and Politics" {% if subject == 'Government and Politics' %}selected{% endif %}>Government and Politics</option>
              <option value="Accounting" {% if subject == 'Accounting' %}selected{% endif %}>Accounting</option>

            </select>
          </div>

          <div class="mb-3">
            <label class="form-label" for="level">Level</label>
            <select class="form-select form-select-lg mb-3" name="level" id="level">
              <option value="GCSE" {% if level == 'GCSE' %}selected{% endif %}>GCSE</option>
              <option value="A Level" {% if level == 'A Level' %}selected{% endif %}>A Level</option>
              <option value="KS3" {% if level == 'KS3' %}selected{% endif %}>KS3</option>
              <option value="IB" {% if level == 'IB' %}selected{% endif %}>IB</option>
              <option value="KS2" {% if level == 'KS2' %}selected{% endif %}>KS2</option>
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label" for="level"  value="{{ exam_board }}">Exam board (optional)</label>
            <select class="form-select form-select-lg mb-3" name="exam-board" id="exam-board">
              <option value="" {% if subject == '' %}selected{% endif %}"></option>
              <option value="AQA" {% if subject == 'AQA' %}selected{% endif %}>AQA</option>
              <option value="Edexcel" {% if subject == 'Edexcel' %}selected{% endif %}>Edexcel</option>
              <option value="OCR" {% if subject == 'OCR' %}selected{% endif %}>OCR</option>
              <option value="SQA" {% if subject == 'SQA' %}selected{% endif %}>SQA</option>
            </select>
          </div>

        <div class="mb-3">
          <label class="form-label" for="topic">Topic (optional)</label>
          <input type="text" class="form-control form-control-lg" name="topic"  value="{{ topic }}">
        </div>

      <div class="mb-3">
        <label for="marks" class="form-label">Difficulty - Number of marks: <span id="marks_value"> {{ marks }}</span></label>
        <input type="range" class="form-range" min="0" max="15" id="marks" name="marks" value="{{ marks }}" onchange="marks_value(this)">
      </div>



      <div class="gq-button">
        <button type="submit" id="submit" class="btn btn-primary btn-lg">Generate a question</button>
      </div>

    </form>

  </div>
  <div class="col gq-image">
    <img src="{{ url_for('static', filename='images/feat.svg') }}">
  </div>

</div>


</main>

<script>

  var generateQuestionButton = document.getElementById('submit');

  generateQuestionButton.addEventListener('click', function() {
    loadingScreen.style.display = "flex";
  });


  function marks_value(marks) {
    const marks_display = document.getElementById("marks_value");
    console.log(marks.value)
    if (marks.value != 0){
      marks_display.innerHTML = marks.value;
    } else {
      marks_display.innerHTML = "Any";
    }

  }
</script>
{% endblock %}
